<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IPublisherService" clientBaseAddress="http://localhost:8000/myClient/">
                    <security mode="None" />
                </binding>
                <binding name="WSDualHttpBinding_IPublisherService1" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ThirdTime/PublisherService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IPublisherService1"
                contract="ServiceReference1.IPublisherService" name="WSDualHttpBinding_IPublisherService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>