<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPublisherService" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IPublisherService" clientBaseAddress="http://localhost:8000/myClient/">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8750/Service1.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IPublisherService"
                contract="ServiceReference1.IPublisherService" name="BasicHttpBinding_IPublisherService" />
            <endpoint address="http://localhost:8750/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPublisherService"
                contract="ServiceReference1.IPublisherService" name="BasicHttpBinding_IPublisherService1" />
        </client>
    </system.serviceModel>
</configuration>